In [2]:
import pandas as pd
import re
df = pd.read_csv("modified_pokemon_data.csv")
# Getting data which satisfies multiple conditions
new_df = df.loc[(df["Type 1"] == "Grass") | (df["Type 2"] == "Poison")]

In [3]:
new_df = df.loc[(df["Type 1"] == "Grass") & (df["Type 2"] == "Poison") & (df["HP"] > 70)]
new_df.to_csv("filtered.csv")
new_df

,#,Name,Type 1,Legendary,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary.1
2,3,Venusaur,Grass,False,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,False,Poison,625,80,100,123,122,120,80,1,False
50,45,Vileplume,Grass,False,Poison,490,75,80,85,110,90,50,1,False
77,71,Victreebel,Grass,False,Poison,490,80,105,65,100,70,70,1,False
652,591,Amoonguss,Grass,False,Poison,464,114,85,70,85,80,30,5,False

In [4]:
# Reset index for new filtered dataframe
# inplace=True changes the the current dataframe
# drop=True drops the indexes from the old dataframe
new_df.reset_index(drop=True, inplace=True)
new_df.to_csv("filtered.csv")

In [5]:
# Check whether contains some data in it
# ~ signs negates it
df.loc[~df["Name"].str.contains("Mega")]

,#,Name,Type 1,Legendary,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary.1
0,1,Bulbasaur,Grass,False,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,False,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,False,Poison,525,80,82,83,100,100,80,1,False
4,4,Charmander,Fire,False,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,False,NaN,405,58,64,58,80,65,80,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
794,718,Zygarde50% Forme,Dragon,True,Ground,600,108,100,121,81,95,95,6,True
795,719,Diancie,Rock,True,Fairy,600,50,100,150,100,150,50,6,True
797,720,HoopaHoopa Confined,Psychic,True,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,True,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,True,Water,600,80,110,120,130,90,70,6,True

In [6]:
# Using regular expression
df.loc[df["Type 1"].str.contains("Fire|Grass", regex=True)]

,#,Name,Type 1,Legendary,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary.1
0,1,Bulbasaur,Grass,False,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,False,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,False,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,False,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,False,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
735,667,Litleo,Fire,False,Normal,369,62,50,58,73,54,72,6,False
736,668,Pyroar,Fire,False,Normal,507,86,68,72,109,66,106,6,False
740,672,Skiddo,Grass,False,NaN,350,66,65,48,62,57,52,6,False
741,673,Gogoat,Grass,False,NaN,531,123,100,62,97,81,68,6,False
799,721,Volcanion,Fire,True,Water,600,80,110,120,130,90,70,6,True

In [7]:
# More of regular expression
df.loc[df["Name"].str.contains("^Pi[a-z]", regex=True)]

,#,Name,Type 1,Legendary,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary.1
20,16,Pidgey,Normal,False,Flying,251,40,45,40,35,35,56,1,False
21,17,Pidgeotto,Normal,False,Flying,349,63,60,55,50,50,71,1,False
22,18,Pidgeot,Normal,False,Flying,479,83,80,75,70,70,101,1,False
23,18,PidgeotMega Pidgeot,Normal,False,Flying,579,83,80,80,135,80,121,1,False
30,25,Pikachu,Electric,False,NaN,320,35,55,40,50,50,90,1,False
136,127,Pinsir,Bug,False,NaN,500,65,125,100,55,70,85,1,False
137,127,PinsirMega Pinsir,Bug,False,Flying,600,65,155,120,65,90,105,1,False
186,172,Pichu,Electric,False,NaN,205,20,40,15,35,35,60,2,False
219,204,Pineco,Bug,False,NaN,290,50,65,90,35,35,15,2,False
239,221,Piloswine,Ice,False,Ground,450,100,100,80,60,60,50,2,False
438,393,Piplup,Water,False,NaN,314,53,51,53,61,56,40,4,False
558,499,Pignite,Fire,False,Fighting,418,90,93,55,70,55,55,5,False
578,519,Pidove,Normal,False,Flying,264,50,55,50,36,30,43,5,False

In [8]:
# Changing the data
# First arg is to get specific column
# Second arg is which column you want to change
df.loc[df["Type 1"] == "Fire", "Type 1"] = "Flamer"
df

,#,Name,Type 1,Legendary,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary.1
0,1,Bulbasaur,Grass,False,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,False,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,False,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,False,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Flamer,False,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,True,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,True,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,True,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,True,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Flamer,True,Water,600,80,110,120,130,90,70,6,True

In [10]:
df.loc[df["Type 1"] == "Flamer", "Type 1"] = "Fire"
df

,#,Name,Type 1,Legendary,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary.1
0,1,Bulbasaur,Grass,False,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,False,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,False,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,False,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,False,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,True,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,True,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,True,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,True,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,True,Water,600,80,110,120,130,90,70,6,True

In [11]:
df.loc[df["Type 1"] == "Fire", "Legendary"] = True
df

,#,Name,Type 1,Legendary,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary.1
0,1,Bulbasaur,Grass,False,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,False,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,False,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,False,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,True,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,True,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,True,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,True,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,True,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,True,Water,600,80,110,120,130,90,70,6,True

In [12]:
df = pd.read_csv("modified_pokemon_data.csv")
df

,#,Name,Type 1,Legendary,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary.1
0,1,Bulbasaur,Grass,False,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,False,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,False,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,False,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,False,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,True,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,True,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,True,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,True,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,True,Water,600,80,110,120,130,90,70,6,True

In [28]:
df

,#,Name,Type 1,Legendary,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
0,1,Bulbasaur,Grass,False,Poison,318,45,49,49,65,65,45,1
1,2,Ivysaur,Grass,False,Poison,405,60,62,63,80,80,60,1
2,3,Venusaur,Grass,TEST Value,Poison,525,80,82,83,100,100,80,TEST Value
3,3,VenusaurMega Venusaur,Grass,TEST Value,Poison,625,80,100,123,122,120,80,TEST Value
4,4,Charmander,Fire,False,NaN,309,39,52,43,60,50,65,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,TEST Value,Fairy,600,50,100,150,100,150,50,TEST Value
796,719,DiancieMega Diancie,Rock,TEST Value,Fairy,700,50,160,110,160,110,110,TEST Value
797,720,HoopaHoopa Confined,Psychic,TEST Value,Ghost,600,80,110,60,150,130,70,TEST Value
798,720,HoopaHoopa Unbound,Psychic,TEST Value,Dark,680,80,160,60,170,130,80,TEST Value
799,721,Volcanion,Fire,TEST Value,Water,600,80,110,120,130,90,70,TEST Value

In [29]:
# Modifying mutliple columns
df.loc[df["Total"] > 500, ["Generation", "Legendary"]] = "TEST Value"
df

,#,Name,Type 1,Legendary,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
0,1,Bulbasaur,Grass,False,Poison,318,45,49,49,65,65,45,1
1,2,Ivysaur,Grass,False,Poison,405,60,62,63,80,80,60,1
2,3,Venusaur,Grass,TEST Value,Poison,525,80,82,83,100,100,80,TEST Value
3,3,VenusaurMega Venusaur,Grass,TEST Value,Poison,625,80,100,123,122,120,80,TEST Value
4,4,Charmander,Fire,False,NaN,309,39,52,43,60,50,65,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,TEST Value,Fairy,600,50,100,150,100,150,50,TEST Value
796,719,DiancieMega Diancie,Rock,TEST Value,Fairy,700,50,160,110,160,110,110,TEST Value
797,720,HoopaHoopa Confined,Psychic,TEST Value,Ghost,600,80,110,60,150,130,70,TEST Value
798,720,HoopaHoopa Unbound,Psychic,TEST Value,Dark,680,80,160,60,170,130,80,TEST Value
799,721,Volcanion,Fire,TEST Value,Water,600,80,110,120,130,90,70,TEST Value

In [30]:
# Modifying 
df.loc[df["Total"] > 500, ["Generation", "Legendary"]] = ["Test 1", "Test 2"]
df

,#,Name,Type 1,Legendary,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
0,1,Bulbasaur,Grass,False,Poison,318,45,49,49,65,65,45,1
1,2,Ivysaur,Grass,False,Poison,405,60,62,63,80,80,60,1
2,3,Venusaur,Grass,Test 2,Poison,525,80,82,83,100,100,80,Test 1
3,3,VenusaurMega Venusaur,Grass,Test 2,Poison,625,80,100,123,122,120,80,Test 1
4,4,Charmander,Fire,False,NaN,309,39,52,43,60,50,65,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Test 2,Fairy,600,50,100,150,100,150,50,Test 1
796,719,DiancieMega Diancie,Rock,Test 2,Fairy,700,50,160,110,160,110,110,Test 1
797,720,HoopaHoopa Confined,Psychic,Test 2,Ghost,600,80,110,60,150,130,70,Test 1
798,720,HoopaHoopa Unbound,Psychic,Test 2,Dark,680,80,160,60,170,130,80,Test 1
799,721,Volcanion,Fire,Test 2,Water,600,80,110,120,130,90,70,Test 1